.main aside{
  .container{
    position:fixed;
    top:0;
    left:-320px;
    height:100%;
    // border-radius: 0 10px 10px 0;
    // width:310px;
    width: 25%;
    display: flex;
    z-index: 3;
    /* Background pattern from Subtle Patterns */
    background: url('../img/aside/hip-square.png');
    background-repeat: repeat;
    .menu{
      // margin:20px;
      display:flex;
      flex-wrap: wrap;
      overflow: visible;
      justify-content:center;
      img{
        opacity: .2;
        margin-right:5px;
      &:hover{
        opacity: 1;
      }
      }
    }
  }
}
