header{
  .container{
    width:75%;
    float:right;
    position:relative;
    right:0;
    background: url('../img/header_photo.png') #fff;
    background-size: cover;
    background-attachment: fixed;
    background-position: center 0;
    overflow: hidden;
    z-index: -1;
    height: 1400px;
    .text{
      .title{
        // border-bottom: 2px solid #fff;
        font-size: 90px;
        color: #F5F5F5;
        position:absolute;
        top: 150px;
        opacity:0;
        line-height: 40px;
        left:3%;
        font-weight:500;
        margin-left: 40px;
        span{
          font-size: 40px;
          font-weight: 300;
        }
      }
      h3 {
        color:#fff;
        margin-left: 40px;
        position:relative;
        // top:380px;
        font-weight: 300;
        font-size: 20px;
        font-style:italic;
      }

    }

  }
}
