.stories{

  .thumbs{
    visibility: hidden;
    position:absolute;
    width:100%;
    top:750px;
    height:320px;
    background: url('../img/hip-square.png') #fff;
    background-repeat: repeat;
    display: flex;
    flex-wrap: wrap;
    padding:50px 50px;
    h3{
      font-size: 40px;
      font-style: italic;
      font-weight: 300px;
      width: 100%;
      text-align: center;
    }
    img{
      margin:auto;
      height:150px;
      opacity: .3;
      &:hover{
        opacity: 1;
      }
    }
  }

  .story1{
    visibility: hidden;
    .text{
      position:absolute;
      top:1200px;
      width:100%;
      height:200px;
      background: #FBFBEF;
      h4{
        margin-top:90px;
        text-align: center;
        color: #937B63;
        font-size: 80px;
        font-weight: 300;
      }
      p{
        font-size: 20px;
        line-height: 50px;
        font-weight: 400;
        padding: 150px;
        color: #000;
        background: #FBFBEF;
        text-align: center;
      }
      .quote{
        margin-top:-200px;
        color: #546975;
        font-size:30px;
        font-style: normal;
         i{
           margin: 20px;
         }
      }
    }
  }
}
