.main aside {
  width: 10%; }

header .container {
  width: 100%;
  float: right;
  position: relative;
  right: 0;
  background: url("../img/header_photo.png") #fff;
  background-size: cover;
  background-attachment: fixed;
  background-position: center 0;
  overflow: hidden;
  z-index: -1;
  height: 1400px; }
  header .container .text .title {
    font-size: 130px;
    text-align: center;
    margin-top: 240px;
    margin-right: 250px;
    color: #FFFFFF;
    opacity: 0;
    position: absolute;
    left: 3%;
    font-weight: 500;
    margin-left: 40px; }
    header .container .text .title span {
      font-size: 40px;
      font-weight: 300; }
  header .container .text h3 {
    color: #fff;
    margin-left: 40px;
    position: relative;
    top: 380px;
    font-weight: 300;
    font-size: 20px;
    font-style: italic; }
  header .container .menu {
    padding-top: 540px;
    padding-left: 90px; }
    header .container .menu a {
      display: inline-block;
      padding: 3px;
      text-decoration: none;
      font-size: 30px;
      font-weight: 500;
      color: #fff; }
      header .container .menu a:hover {
        text-decoration: underline; }
    header .container .menu .portfolios {
      color: #937B63; }

.main .about .container {
  opacity: 0;
  width: 25%;
  height: 100%;
  top: 0px;
  right: -30%;
  position: absolute;
  z-index: 1; }
  .main .about .container article {
    padding: 40px;
    height: 80%;
    width: 95%;
    background: #474747;
    color: #fff;
    text-align: center;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.35); }
    .main .about .container article h3 {
      font-size: 30px;
      font-weight: 400;
      margin-bottom: 20px; }
    .main .about .container article p {
      text-align: justify;
      font-weight: 300; }
    .main .about .container article img {
      width: 60%;
      padding: 10px;
      border: solid 1px rgba(255, 255, 255, 0.3); }
  .main .about .container .credits {
    padding: 5px;
    color: #fff;
    text-align: center;
    display: inline-block;
    width: 95%;
    height: 15%;
    background: #937B63; }
    .main .about .container .credits p {
      padding: 10px;
      font-size: 20px;
      font-weight: 200; }
    .main .about .container .credits button {
      display: inline-block;
      float: right;
      background: #598EB1;
      color: white;
      font-weight: 300;
      width: 30%;
      height: 50px;
      border-radius: 10px;
      border: none;
      padding: 5px; }

.stories .thumbs {
  position: absolute;
  width: 100%;
  top: 750px;
  height: 320px;
  background: url("../img/hip-square.png") #fff;
  background-repeat: repeat;
  display: flex;
  flex-wrap: wrap;
  padding: 50px 50px; }
  .stories .thumbs h3 {
    font-size: 40px;
    font-style: italic;
    font-weight: 300px;
    width: 100%;
    text-align: center; }
  .stories .thumbs img {
    margin: auto;
    height: 150px;
    opacity: .3; }
    .stories .thumbs img:hover {
      opacity: 1; }
.stories .story1 .text {
  position: absolute;
  top: 1200px;
  width: 100%;
  height: 200px;
  background: #FBFBEF; }
  .stories .story1 .text h4 {
    margin-top: 90px;
    text-align: center;
    color: #937B63;
    font-size: 80px;
    font-weight: 300; }
  .stories .story1 .text p {
    font-size: 20px;
    line-height: 50px;
    font-weight: 400;
    padding: 150px;
    color: #000;
    background: #FBFBEF;
    text-align: center; }
  .stories .story1 .text .quote {
    margin-top: -200px;
    color: #546975;
    font-size: 30px;
    font-style: normal; }
    .stories .story1 .text .quote i {
      margin: 20px; }
.stories .story1 .photos .photo1 {
  display: inline-block;
  background: url("../img/story1/first.jpg") #fff;
  background-size: cover;
  background-attachment: fixed;
  background-position: center 0;
  height: 1300px;
  width: 100%;
  overflow: hidden;
  z-index: -1;
  margin-bottom: 15px; }
.stories .story1 .photos .photo2 {
  display: inline-block;
  background: url("../img/story1/second.jpg") #fff;
  background-size: cover;
  background-attachment: fixed;
  background-position: center 0;
  height: 800px;
  width: 100%;
  overflow: hidden;
  z-index: -1;
  margin-bottom: 15px; }

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 16px;
  max-width: 100%;
  overflow-x: hidden; }

.container {
  max-width: 2000px;
  width: 100%;
  margin: auto;
  overflow: hidden; }

/*# sourceMappingURL=main.css.map */
